// Color system

// White/Grays/Black colors
$white: #fff !default;
$gray-50: #f9fafb !default;
$gray-100: #f3f4f6 !default;
$gray-200: #e5e7eb !default;
$gray-300: #d1d5db !default;
$gray-400: #9ca3af !default;
$gray-500: #6b7280 !default;
$gray-600: #4b5563 !default;
$gray-700: #374151 !default; // Used for text color
$gray-800: #1f2937 !default; // Used for headings color
$gray-900: #111827 !default;
$black: #000 !default;

// Base colors
$blue: #0099ff !default;
$indigo: #5c60f5 !default;
$purple: #8957ff !default;
$pink: #ff579a !default;
$magenta: #ee33ff !default;
$red: #ff3366 !default;
$orange: #ff8c00 !default;
$yellow: #ffbb00 !default;
$lime: #84cc16 !default;
$green: #00cc88 !default;
$teal: #22dddd !default;
$cyan: #00d4ff !default;

// Theme colors
$primary: $blue !default;
$secondary: $lime !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-50 !default;
$dark: $gray-900 !default;

// Body
$body-bg: $white !default;
$body-color: $gray-700 !default;
$body-text-align: null !default;

// Surfaces
$surface-colors: () !default;
$surface-colors: map-merge(
  (
    "primary": $body-bg,
    "secondary": $gray-100,
    "tertiary": $gray-50,
    "light": $gray-200,
    "dark": shade-color($dark, 7%),
  ),
  $surface-colors
);

$surface-colors-rgb: map-loop($surface-colors, to-rgb, "$value") !default;
